@import '../../styles/variables.scss';

.section-container {
  padding: $padding-base;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.height-restrict {
  height: 100vh;
}

.primary-section {
  background-color: $primary-section-color;
  color: $primary-text-color;
}

.secondary-section {
  background-color: $secondary-section-color;
  color: $secondary-text-color;
}
