@import '../../styles/variables.scss';

.section-container {
  padding: $padding-base;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.height-restrict {
  height: 100vh;
}
