@import './variables.scss';

.title-container {
  width: 100%;
  position: relative;
}

#challenge-decoration {
  display: none;
}

.challenge-item {
  margin: $margin-base;
  margin-bottom: calc($margin-base * 2);
}

.challenge-p-tabbed {
  margin-left: 2rem;
}

.challenge-item > h2 {
  flex-basis: 100%;
  margin: calc($margin-base / 4) 0;
}

.challenge-item > hr {
  border: $divider-thick solid $primary-text-color;
}

@media only screen and (min-width: $sm) {
  .challenge-item {
    margin: $margin-base calc($margin-base * 4);
  }
}

@media only screen and (min-width: $md) {
  .challenge-item {
    margin: calc($margin-base * 2) calc($margin-base * 8);
  }
}

@media only screen and (min-width: $lg) {
  #challenge-decoration {
    display: block;
    position: absolute;
    top: -40%;
    right: 20%;
  }

  .challenge-item {
    margin: calc($margin-base * 8) calc($margin-base * 16);
  }

  .challenge-item > h2 {
    flex-basis: 80%;
  }

  .challenge-item > h2 {
    margin: $margin-base 0;
  }

  .challenge-item > p {
    flex-grow: 1;
  }
}
