@import './variables.scss';

.title-container {
  width: 100%;
  position: relative;
  margin-bottom: calc($margin-base * 4);
}

#faq-decoration {
  display: none;
}

.faq-item {
  margin: $margin-base;
  margin-bottom: calc($margin-base * 2);
}

.faq-item > h2 {
  flex-basis: 100%;
  margin: calc($margin-base / 4) 0;
}

.faq-question {
  display: flex;
  align-items: flex-start;
  column-gap: $gap-base;
}

.faq-question > img {
  width: 5%;
}

.faq-question > div > h2 {
  margin: 0;
}

@media only screen and (min-width: $sm) {
  .faq-item {
    margin: $margin-base calc($margin-base * 4);
  }
}

@media only screen and (min-width: $md) {
  .title-container {
    margin-bottom: calc($margin-base * 8);
  }

  .faq-item {
    margin: calc($margin-base * 2) calc($margin-base * 8);
  }
}

@media only screen and (min-width: $lg) {
  .title-container {
    margin-bottom: calc($margin-base * 10);
  }

  #faq-decoration {
    width: 20%;
    display: block;
    position: absolute;
    top: -175px;
    left: 5%;
  }

  .faq-item {
    margin: calc($margin-base * 4) calc($margin-base * 16);
  }

  .faq-item > h2 {
    flex-basis: 80%;
  }

  .faq-item > h2 {
    margin: $margin-base 0;
  }

  .faq-item > p {
    flex-grow: 1;
  }
}
