@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kavoon&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: $text-sm;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HTML heading tags */
h1 {
  /* All page title */
  font-family: 'Kavoon', cursive;
  font-size: $text-xl;
}

h2 {
  /* Title for prize rank, partner category, announcement title and faq question */
  font-size: $text-lg;
}

h3 {
  /* Emphasized title such as prize name and timeline date */
  font-size: $text-md;
}

h4, h5, h6, p, a {
  /* Everything else */
  font-size: $text-sm;
}

