@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: $text-sm;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HTML heading tags */
h1 {
  /* All page title */
  font-size: $text-lg;
  text-align: center;
}

h2 {
  /* Title for prize rank, partner category, announcement title and faq question */
  font-size: $text-md;
}

h3 {
  /* Emphasized title such as prize name and timeline date */
  font-size: $text-sm;
}

h4,
h5,
h6,
p,
a {
  /* Everything else */
  font-size: $text-xs;
}

@media only screen and (min-width: $md) {
  /* Increase font size on desktop view */
  h1 {
    /* All page title */
    font-size: $text-xl;
    line-height: 0.1;
  }

  h2 {
    /* Title for prize rank, partner category, announcement title and faq question */
    font-size: $text-lg;
  }

  h3 {
    /* Emphasized title such as prize name and timeline date */
    font-size: $text-md;
  }

  h4 {
    font-size: $text-sm;
  }
}

hr {
  border-width: $divider-thick;
}
