@import './variables.scss';

.content-container {
  flex: 1; /* Fill up the space vertically */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: $gap-base;
}

/* All section title and subheading */
.content-container h1,
.content-container h2 {
  width: 100%;
  text-align: center;
}

/* Hero section */
.content-container > #hero-image {
  width: 70%;
  height: auto;
  align-self: center;
}

/* Overview of Challenges section */
.content-container > .title-container {
  width: 100%;
  position: relative;
}

.content-container #challenge-overview-decoration {
  display: none;
}

.content-container > .challenge-overview-item > h1 {
  text-align: start;
}

.content-container > .challenge-overview-item > hr {
  border: $divider-thin solid $secondary-text-color;
}

.content-container > .challenge-overview-item > a {
  text-decoration: underline;
}

/* Competition Timeline section */
.content-container > .competition-timeline-item {
  padding: $padding-base;
  flex-basis: 100%;
}
  
.content-container > .competition-timeline-item > hr {
  border: $divider-thin solid $primary-text-color;
}

.content-container > #competition-timeline-decoration {
  width: 100%;
  height: auto;
}

/* Prizes section */
.content-container > .prize-item {
  text-align: center;
}

.content-container > .prize-item > img {
  width: 100%;
}

.content-container > .prize-item > h3 {
  font-weight: normal;
}

.content-container > .prize-item:nth-child(2), .prize-item:nth-child(4) {
  margin-top: 5rem;
}
/* Partner and Sponsor section */
.content-container > .partner-item,
.content-container > .sponsor-item {
  width: 100%;
  height: auto;
}

/* Small screen view */
@media only screen and (min-width: $sm) {
  /* Prizes section */
  .content-container > .prize-item > img {
    width: 100%;
  }

  .content-container > .prize-item {
    padding: $padding-base;
    flex-basis: 25%;
  }

  /* Partner and Sponsor section */
  .content-container > .partner-item,
  .content-container > .sponsor-item {
    width: 30%;
    height: auto;
  }

  .content-container > .partner-item,
  .content-container > .sponsor-item {
    padding: 0 $padding-base;
  }

  /* Competition Timeline section */
  /* Competition Timeline section */
  .content-container > .competition-timeline-item {
    flex-basis: 50%;
  }

  .content-container > #competition-timeline-decoration {
    width: 60%;
    height: auto;
  }
}

/* Desktop view */
@media only screen and (min-width: $lg) {
  /* Overview of Challenges section */
  .content-container #challenge-overview-decoration {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-100px, 100px);
  }

  .content-container > .challenge-overview-item {
    padding: $padding-base calc($padding-base * 2);
    flex-basis: 33%;
  }

  .content-container > .challenge-overview-item > h3 {
    height: 150px;
  }

  /* Competition Timeline section */
  .content-container > .competition-timeline-item {
    padding: $padding-base calc($padding-base * 4);
    flex-basis: 25%;
  }

  .content-container > #competition-timeline-decoration {
    width: 50%;
    height: auto;
  }
}

.prize-img {
  object-fit: contain;
}