@import './variables.scss';

/* Content containers */
.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  row-gap: normal;
}

/* Content title */
.content-container > h1 {
  width: 100%;
}

@media only screen and (min-width: $sm) {
  /* Use direct child selecter to increase specificity */
  .content-container > .challenge-overview-item {
    padding: $padding-base calc($padding-base * 8);
    flex-basis: 50%;
  }

  .content-container > .competition-timeline-item {
    padding: $padding-base calc($padding-base * 4);
    flex-basis: 33%;
  }
}

/* Container's divider */
.content-container > .challenge-overview-item > hr {
  border: $divider-thin solid $secondary-text-color;
}

.content-container > .competition-timeline-item > hr {
  border: $divider-thin solid $primary-text-color;
}

/* Challenge Overview: challenge item's link */
.content-container > .challenge-overview-item > a {
  text-decoration: underline;
}
