$padding-base: 16px;
$margin-base: 16px;
$gap-base: 16px;

/* Breakpoints */
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

/* Color palette */
$primary-section-color: #fff5f3;
$primary-text-color: #df6c5d;
$primary-divider-color: #df6c5d;

$secondary-section-color: #df6c5d;
$secondary-text-color: #ffffff;
$secondary-divider-color: #ffffff;

$box-background-color: #ffe7e3;

/* Text size */
$text-xl: 64px;
$text-lg: 40px;
$text-md: 27.5px;
$text-sm: 20px;
$text-xs: 15px;

/* Divider */
$divider-thick: 5px;
$divider-thin: 3px;
